{% extends "layout.html" %} {% block title %}index{% endblock %} {% block
content %}
<div>
  <div>
    <input
      type="text"
      name="username"
      id="username-input"
      placeholder="what is your name"
    />
    <button id="btn-sumbit-username">Submit</button>
  </div>
  <div>
    <h1 id="username"></h1>
  </div>
</div>
<div>
  <ul id="sys-msg"></ul>
</div>
{% endblock %} {% block js %}
<script
  type="text/javascript"
  src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"
></script>
<script src="{{ url_for('static', filename = 'js/username.js') }}"></script>
{% endblock %}
